---
---

//
// IMPORTS
//

@import "sassline-base/reset";
@import "sassline-base/variables";
@import "sassline-base/modular-scale";
@import "sassline-base/mixins";
@import "sassline-base/typography";
@import "sassline-base/layouts";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

body {
  background-color: $backgroundColour;
  color: $bodyColour;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

.masthead {
  padding: 20px 0;
  text-align: center;
  a {
    color: $captionColour;
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
  }
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
